/*html, .site-footer, .site-header{
  background-color: #111111;
}*/

body{
  background: rgb(17,17,17);
  background: linear-gradient(135deg, rgba(17,17,17,1) 0%, rgba(51,51,51,1) 100%);
}

.footer-col-wrapper{
  align-items: center;
}

.site-header, .site-footer{
  border: none;
}

.site-header, .site-title:visited {
  color: #FFFFFF;
}

.site-footer, .page-content{
  padding: 15px 15px;
}

.site-title{
  font-weight: 400;
}

.post-list li:nth-last-child(1), .footer-col, .footer-col p{
  margin-bottom: 0;
}

.page-content{
  padding-bottom: 0;
}

.post-list{
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .social-links {
    margin-bottom: 8px;
  }
}
