/*html, .site-footer, .site-header{
  background-color: #111111;
}*/

a, a:visited{
  color: #b175ff;
}

a:hover{
    color: #bbb;
    text-decoration: underline;
}

body{
  background: rgb(17,17,17);
  background: linear-gradient(135deg, rgba(17,17,17,1) 0%, rgba(51,51,51,1) 100%);
  overflow-y: auto;
  scrollbar-gutter: stable;
}

h1,h2,h3,h4{ 
  border-bottom: 0;
}

.footer-col-wrapper{
  align-items: center;
}

.site-header, .site-footer{
  border: none;
}

.site-header, .site-title:visited {
  color: #FFFFFF;
}

.site-header{
  background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 1920 100" width="1920" height="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M1842 100L1823 100L1823 94L1881 94L1881 89L1919 89L1919 83L1881 83L1881 78L1804 78L1804 72L1919 72L1919 67L1708 67L1708 61L1881 61L1881 56L1669 56L1669 50L1689 50L1689 44L1842 44L1842 39L1746 39L1746 33L1785 33L1785 28L1900 28L1900 22L1631 22L1631 17L1823 17L1823 11L1689 11L1689 6L1708 6L1708 0L1920 0L1920 6L1920 6L1920 11L1920 11L1920 17L1920 17L1920 22L1920 22L1920 28L1920 28L1920 33L1920 33L1920 39L1920 39L1920 44L1920 44L1920 50L1920 50L1920 56L1920 56L1920 61L1920 61L1920 67L1920 67L1920 72L1920 72L1920 78L1920 78L1920 83L1920 83L1920 89L1920 89L1920 94L1920 94L1920 100L1920 100Z" fill="%236400fa"></path><path d="M1842 100L1593 100L1593 94L1727 94L1727 89L1823 89L1823 83L1593 83L1593 78L1535 78L1535 72L1861 72L1861 67L1631 67L1631 61L1612 61L1612 56L1439 56L1439 50L1516 50L1516 44L1593 44L1593 39L1612 39L1612 33L1516 33L1516 28L1881 28L1881 22L1343 22L1343 17L1669 17L1669 11L1593 11L1593 6L1708 6L1708 0L1709 0L1709 6L1690 6L1690 11L1824 11L1824 17L1632 17L1632 22L1901 22L1901 28L1786 28L1786 33L1747 33L1747 39L1843 39L1843 44L1690 44L1690 50L1670 50L1670 56L1882 56L1882 61L1709 61L1709 67L1920 67L1920 72L1805 72L1805 78L1882 78L1882 83L1920 83L1920 89L1882 89L1882 94L1824 94L1824 100L1843 100Z" fill="%235d00e6"></path><path d="M1458 100L1285 100L1285 94L1573 94L1573 89L1785 89L1785 83L1247 83L1247 78L1209 78L1209 72L1285 72L1285 67L1381 67L1381 61L1189 61L1189 56L1324 56L1324 50L1381 50L1381 44L1132 44L1132 39L1228 39L1228 33L1228 33L1228 28L1381 28L1381 22L997 22L997 17L1343 17L1343 11L1228 11L1228 6L1477 6L1477 0L1709 0L1709 6L1594 6L1594 11L1670 11L1670 17L1344 17L1344 22L1882 22L1882 28L1517 28L1517 33L1613 33L1613 39L1594 39L1594 44L1517 44L1517 50L1440 50L1440 56L1613 56L1613 61L1632 61L1632 67L1862 67L1862 72L1536 72L1536 78L1594 78L1594 83L1824 83L1824 89L1728 89L1728 94L1594 94L1594 100L1843 100Z" fill="%235500d2"></path><path d="M1343 100L1113 100L1113 94L1420 94L1420 89L1631 89L1631 83L1151 83L1151 78L1055 78L1055 72L1285 72L1285 67L1362 67L1362 61L1036 61L1036 56L1151 56L1151 50L1247 50L1247 44L997 44L997 39L1228 39L1228 33L1093 33L1093 28L1343 28L1343 22L997 22L997 17L1189 17L1189 11L1055 11L1055 6L1401 6L1401 0L1478 0L1478 6L1229 6L1229 11L1344 11L1344 17L998 17L998 22L1382 22L1382 28L1229 28L1229 33L1229 33L1229 39L1133 39L1133 44L1382 44L1382 50L1325 50L1325 56L1190 56L1190 61L1382 61L1382 67L1286 67L1286 72L1210 72L1210 78L1248 78L1248 83L1786 83L1786 89L1574 89L1574 94L1286 94L1286 100L1459 100Z" fill="%234e00bf"></path><path d="M1247 100L1017 100L1017 94L1247 94L1247 89L1516 89L1516 83L1093 83L1093 78L901 78L901 72L1266 72L1266 67L1189 67L1189 61L940 61L940 56L1036 56L1036 50L1132 50L1132 44L901 44L901 39L1209 39L1209 33L921 33L921 28L1189 28L1189 22L882 22L882 17L1113 17L1113 11L997 11L997 6L1401 6L1401 0L1402 0L1402 6L1056 6L1056 11L1190 11L1190 17L998 17L998 22L1344 22L1344 28L1094 28L1094 33L1229 33L1229 39L998 39L998 44L1248 44L1248 50L1152 50L1152 56L1037 56L1037 61L1363 61L1363 67L1286 67L1286 72L1056 72L1056 78L1152 78L1152 83L1632 83L1632 89L1421 89L1421 94L1114 94L1114 100L1344 100Z" fill="%234601ac"></path><path d="M1132 100L825 100L825 94L1228 94L1228 89L1516 89L1516 83L921 83L921 78L844 78L844 72L1074 72L1074 67L1132 67L1132 61L940 61L940 56L863 56L863 50L959 50L959 44L844 44L844 39L1113 39L1113 33L690 33L690 28L1132 28L1132 22L748 22L748 17L959 17L959 11L959 11L959 6L1324 6L1324 0L1402 0L1402 6L998 6L998 11L1114 11L1114 17L883 17L883 22L1190 22L1190 28L922 28L922 33L1210 33L1210 39L902 39L902 44L1133 44L1133 50L1037 50L1037 56L941 56L941 61L1190 61L1190 67L1267 67L1267 72L902 72L902 78L1094 78L1094 83L1517 83L1517 89L1248 89L1248 94L1018 94L1018 100L1248 100Z" fill="%233f0199"></path><path d="M921 100L556 100L556 94L978 94L978 89L1362 89L1362 83L825 83L825 78L729 78L729 72L729 72L729 67L671 67L671 61L844 61L844 56L671 56L671 50L421 50L421 44L537 44L537 39L364 39L364 33L364 33L364 28L882 28L882 22L575 22L575 17L805 17L805 11L729 11L729 6L441 6L441 0L1325 0L1325 6L960 6L960 11L960 11L960 17L749 17L749 22L1133 22L1133 28L691 28L691 33L1114 33L1114 39L845 39L845 44L960 44L960 50L864 50L864 56L941 56L941 61L1133 61L1133 67L1075 67L1075 72L845 72L845 78L922 78L922 83L1517 83L1517 89L1229 89L1229 94L826 94L826 100L1133 100Z" fill="%23380187"></path><path d="M575 100L402 100L402 94L709 94L709 89L940 89L940 83L479 83L479 78L402 78L402 72L671 72L671 67L671 67L671 61L498 61L498 56L517 56L517 50L306 50L306 44L383 44L383 39L268 39L268 33L95 33L95 28L517 28L517 22L325 22L325 17L652 17L652 11L460 11L460 6L133 6L133 0L442 0L442 6L730 6L730 11L806 11L806 17L576 17L576 22L883 22L883 28L365 28L365 33L365 33L365 39L538 39L538 44L422 44L422 50L672 50L672 56L845 56L845 61L672 61L672 67L730 67L730 72L730 72L730 78L826 78L826 83L1363 83L1363 89L979 89L979 94L557 94L557 100L922 100Z" fill="%23300175"></path><path d="M249 100L325 100L325 94L306 94L306 89L57 89L57 83L153 83L153 78L114 78L114 72L229 72L229 67L306 67L306 61L133 61L133 56L18 56L18 50L249 50L249 44L95 44L95 39L191 39L191 33L95 33L95 28L210 28L210 22L114 22L114 17L268 17L268 11L249 11L249 6L133 6L133 0L134 0L134 6L461 6L461 11L653 11L653 17L326 17L326 22L518 22L518 28L96 28L96 33L269 33L269 39L384 39L384 44L307 44L307 50L518 50L518 56L499 56L499 61L672 61L672 67L672 67L672 72L403 72L403 78L480 78L480 83L941 83L941 89L710 89L710 94L403 94L403 100L576 100Z" fill="%23290164"></path><path d="M76 100L191 100L191 94L153 94L153 89L18 89L18 83L95 83L95 78L37 78L37 72L95 72L95 67L153 67L153 61L133 61L133 56L18 56L18 50L191 50L191 44L37 44L37 39L172 39L172 33L37 33L37 28L172 28L172 22L0 22L0 17L114 17L114 11L172 11L172 6L37 6L37 0L134 0L134 6L250 6L250 11L269 11L269 17L115 17L115 22L211 22L211 28L96 28L96 33L192 33L192 39L96 39L96 44L250 44L250 50L19 50L19 56L134 56L134 61L307 61L307 67L230 67L230 72L115 72L115 78L154 78L154 83L58 83L58 89L307 89L307 94L326 94L326 100L250 100Z" fill="%23220153"></path><path d="M0 100L0 100L0 94L0 94L0 89L0 89L0 83L0 83L0 78L0 78L0 72L0 72L0 67L0 67L0 61L0 61L0 56L0 56L0 50L0 50L0 44L0 44L0 39L0 39L0 33L0 33L0 28L0 28L0 22L0 22L0 17L0 17L0 11L0 11L0 6L0 6L0 0L38 0L38 6L173 6L173 11L115 11L115 17L0 17L0 22L173 22L173 28L38 28L38 33L173 33L173 39L38 39L38 44L192 44L192 50L19 50L19 56L134 56L134 61L154 61L154 67L96 67L96 72L38 72L38 78L96 78L96 83L19 83L19 89L154 89L154 94L192 94L192 100L77 100Z" fill="%231b0043"></path></svg>')
}
    
.site-footer, .page-content{
  padding: 15px 15px;
}

.site-footer{
  padding-top: 0;
}

.site-title{
  font-weight: 400;
}

.post-list li:nth-last-child(1), .footer-col, .footer-col p{
  margin-bottom: 0;
}

.page-content{
  padding-bottom: 0;
}

.post-list{
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .social-links {
    margin-bottom: 8px;
  }
}
