/*html, .site-footer, .site-header{
  background-color: #111111;
}*/

a, a:visited{
  color: #b175ff;
  font-weight: 610;
}

a:hover{
    color: #fff;
    text-decoration: underline;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2 {
    color: #9e66f0;
    font-weight: bold;
}

.page-content{
  margin-bottom: -15px;
  padding: 0;
}

body{
  background-image: url("https://raw.githubusercontent.com/FEDavid/Blog/main/background-svg.svg");
  background-color: black;
  background-size: cover;
  background-position: center;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

h1,h2,h3,h4{ 
  border-bottom: 0;
}

.site-header{
  line-height: 100px;
}

.footer-col-wrapper{
  align-items: center;
}

.page-link, .page-link:visited {
    color: #bbb;
}

.page-link:hover {
    color: #fff;
}

.site-header, .site-footer{
  border: none;
}

.site-header, .site-title:visited {
  color: #FFFFFF;
}

.site-footer{
  padding: 15px 15px;
  margin: 30px 0 30px 0;
}

.site-footer{
  padding-top: 0;
}

.site-title{
  font-weight: 610;
}

.post-list li:nth-last-child(1), .footer-col, .footer-col p{
  margin-bottom: 0;
}

.page-content{
  padding-bottom: 0;
}

.post-list{
  margin-bottom: 20px;
}

div.post-content p, div.post-content li {
  color: white;
}

.post-content{
  table, thead, th, td, tr{
    border: 0;
    vertical-align: top;
    background-color: transparent !important;
  }
  
  thead{
    text-align: center;
    padding: 15px;
    background-color: #9e66f0 !important;
    color: #111111;
    font-size: 1.5rem;
  }
  
  td{
    padding: 15px; 15px 0 15px;
    border-top: 1px solid #9e66f0;
    color: white;
  }
  
  tr td:nth-child(2){
    border-left: 1px solid #9e66f0;
  }
}

.img_gallery_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
}

.img_gallery_container div{
  width: 50%;
  height: 50%;
  background-color: black;
}

.img_gallery_container div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s;
}

.img_gallery_container div img:hover{
  opacity: 0.65;
}

@media only screen and (max-width: 600px) {
  .social-links {
    margin-bottom: 8px;
  }
}
